@use "src/styles";

@layer components {
  .poe-a-toggle {
    display: flex;
    gap: 1rem;
    align-items: center;

    .poe-a-toggle-switch {
      position: relative;
      display: inline-block;
      width: 3.75rem;
      height: 2.125rem;
    }

    .poe-a-toggle-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 2.125rem;
      background-color: var(--neutral-5);

      &:before {
        position: absolute;
        content: "";
        height: 1.625rem;
        width: 1.625rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background-color: var(--neutral-1);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    .poe-a-toggle-slider-condition-true {
      background-color: var(--primary);
    }

    .poe-a-toggle-label {
      @include styles.visually-hidden;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .poe-a-toggle-slider:before {
        -webkit-transform: translateX(1.625rem);
        -ms-transform: translateX(1.625rem);
        transform: translateX(1.625rem);
      }
    }
  }
}
