@use "src/styles";

@layer components {
  @mixin button-theme(
      $background-color: primary,
      $border-color: primary,
      $background-color-hover: primary-dark,
      $border-color-hover: primary-dark,
      $background-color-active: primary-darker,
      $border-color-active: primary-darker,
      $outline-color-focus: primary-lightest,
      $font-color: neutral-1,
      $font-color-hover: neutral-1,
      $font-color-active: neutral-1
  ) {
    padding: 0.75rem 1.5rem;
    border-width: 0.25rem;
    border-style: solid;
    border-radius: 0.25rem;
    cursor: pointer;
    color: var(--#{$font-color});
    background-color: var(--#{$background-color});
    border-color: var(--#{$border-color});

    &:hover {
      background-color: var(--#{$background-color-hover});
      border-color: var(--#{$border-color-hover});
      color: var(--#{$font-color-hover});
    }

    &:active {
      background-color: var(--#{$background-color-active});
      border-color: var(--#{$border-color-active});
      color: var(--#{$font-color-active});
    }

    &:focus {
      outline-color: var(--#{$outline-color-focus});
      outline-width: 0.25rem;
      outline-style: solid;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }

  }

  .poe-a-button-color-primary {
    @include button-theme;
  }

  .poe-a-button-color-primary-outlined {
    @include button-theme(
      $background-color: neutral-1,
      $border-color: primary,
      $background-color-hover: primary-dark,
      $border-color-hover: primary-dark,
      $background-color-active: primary-darker,
      $border-color-active: primary-darker,
      $outline-color-focus: primary-lightest,
      $font-color: neutral-10,
    );
  }

  .poe-a-button-color-warning {
    @include button-theme(
      $background-color: warning,
      $border-color: warning,
      $background-color-hover: warning-dark,
      $border-color-hover: warning-dark,
      $background-color-active: warning-darker,
      $border-color-active: warning-darker,
      $outline-color-focus: warning-lightest,
      $font-color: neutral-1000,
      $font-color-hover: neutral-1000,
      $font-color-active: neutral-1000
    );
  }

  .poe-a-button-color-warning-outlined {
    @include button-theme(
      $background-color: neutral-1,
      $border-color: warning,
      $background-color-hover: warning-dark,
      $border-color-hover: warning-dark,
      $background-color-active: warning-darker,
      $border-color-active: warning-darker,
      $outline-color-focus: warning-lightest,
      $font-color: neutral-10,
      $font-color-hover: neutral-1000,
      $font-color-active: neutral-1000
    );
  }

  .poe-a-button-color-danger {
    @include button-theme(
      $background-color: danger,
      $border-color: danger,
      $background-color-hover: danger-dark,
      $border-color-hover: danger-dark,
      $background-color-active: danger-darker,
      $border-color-active: danger-darker,
      $outline-color-focus: danger-lightest,
      $font-color: neutral-1,
      $font-color-hover: neutral-1,
      $font-color-active: neutral-1
    );
  }

  .poe-a-button-color-danger-outlined {
    @include button-theme(
      $background-color: neutral-1,
      $border-color: danger,
      $background-color-hover:danger-dark,
      $border-color-hover: danger-dark,
      $background-color-active: danger-darker,
      $border-color-active: danger-darker,
      $outline-color-focus: danger-lightest,
      $font-color: neutral-10,
    );
  }

  .poe-a-button-color-success {
    @include button-theme(
      $background-color: success,
      $border-color: success,
      $background-color-hover: success-dark,
      $border-color-hover: success-dark,
      $background-color-active: success-darker,
      $border-color-active: success-darker,
      $outline-color-focus: success-lightest,
    );
  }

  .poe-a-button-color-success-outlined {
    @include button-theme(
      $background-color: neutral-1,
      $border-color: success,
      $background-color-hover: success-dark,
      $border-color-hover: success-dark,
      $background-color-active: success-darker,
      $border-color-active: success-darker,
      $outline-color-focus: success-lightest,
      $font-color: neutral-10,
    );
  }

  .poe-a-button-color-info {
    @include button-theme(
      $background-color: info,
      $border-color: info,
      $background-color-hover: info-dark,
      $border-color-hover: info-dark,
      $background-color-active: info-dark,
      $border-color-active: info-dark,
      $outline-color-focus: info-lightest
    );
  }

  .poe-a-button-color-info-outlined {
    @include button-theme(
      $background-color: neutral-1,
      $border-color: info,
      $background-color-hover: info-dark,
      $border-color-hover: info-dark,
      $background-color-active: info-darker,
      $border-color-active: info-darker,
      $outline-color-focus: info-lightest,
      $font-color: neutral-10,
    );
  }

  .poe-a-button-color-neutral {
    @include button-theme(
      $background-color: neutral-10,
      $border-color: neutral-10,
      $background-color-hover: neutral-9,
      $border-color-hover: neutral-9,
      $background-color-active: neutral-8,
      $border-color-active: neutral-8,
      $outline-color-focus: neutral-2
    );
  }

  .poe-a-button-color-neutral-outlined {
    @include button-theme(
      $background-color: neutral-1,
      $border-color: neutral-19,
      $background-color-hover: neutral-9,
      $border-color-hover: neutral-9,
      $background-color-active: neutral-8,
      $border-color-active: neutral-8,
      $outline-color-focus: neutral-2,
      $font-color: neutral-10,
    );
  }

  .poe-a-button-fullwidth {
    width: 100%;
  }
}
