@use "color-theme";

@mixin typography($size: 1em, $weight: var(--font-regular)) {
  font-size: $size;
  font-weight: $weight;
  color: var(--neutral-10);
}

@layer theme {
  :root {
    --font-stack: "Montserrat", sans-serif;
    --font-size: 16px;
    --font-word-spacing: 1px;
    --font-regular: 400;
    --font-bold: 700;
  }

  html {
    @import "~@fontsource/montserrat/300.css";
    @import "~@fontsource/montserrat/400.css";
    @import "~@fontsource/montserrat/500.css";
    @import "~@fontsource/montserrat/700.css";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-stack);
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    word-spacing: var(--font-word-spacing);
    color: var(--neutral-10);

    h1 {
      @include typography($size: 2.25em, $weight: var(--font-bold));
    }

    h2 {
      @include typography($size: 2em, $weight: var(--font-bold));
    }

    h3 {
      @include typography($size: 1.875em, $weight: var(--font-bold));
    }

    h4 {
      @include typography($size:  1.625em, $weight: var(--font-bold));
    }

    h5 {
      @include typography($size: 1.375em, $weight: var(--font-bold));
    }

    h6 {
      @include typography($size: 1.125em, $weight: var(--font-bold));
    }

    p {
      @include typography;
    }

    .paragraph-bold {
      @include typography($weight: var(--font-bold));
    }

    a {
      @include typography;
    }
  }
}

