
@mixin space($size: 1, $css-property: margin) {
  #{$css-property}: #{$size * 0.25}rem;
}

@mixin visually-hidden {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
